<%- include('partials/header') %>

    <nav class="container-fluid text-center my-5 ">
        <h1> Today's Weather Conditions.. </h1>
    </nav>

    <div class="container mx-auto my-3">
        <div class="row g-2">
        <% data.forEach((city)=> { %>
            <div class="col-6">
                <div class="m-1 p-3 border rounded-4">
                    <h3> <%= city.cityName %> <%= city.temp %> °C. </h3>
                    <p> <%= city.weatherDesc %></p>
                    <img src="http://openweathermap.org/img/wn/<%=city.icon %>@2x.png">
                </div>
            </div>
        <% }) %>
        </div>
    </div>

    <div class="container mt-5 text-center">
        <form action="/getWeather" method="post">
            <div class="row">
                <div class="col-2 text-end mt-1">
                    <p class="text-md"><strong>Name of the city : </strong></p>
                </div>
                <input id="cityInput" name="cityName" type="text" class="col-2 mx-2">
                <button type="submit" class="btn btn-info col-auto">Go</button>
            </div>
        </form>
    </div>

<%- include('partials/footer') %>